.error {
  background: #f2e1d7;
  padding: 5px;
  border: solid 1px #f00000;
  position: relative;
  text-align: center;
  color: #f00000;
}

.action-button{
  margin: 10px;
  text-align:center;
}
button{
  margin: 3px;
  width: 200px;
}
.centre {
  text-align: center;
}
.example-chip-list{
  width: 200px;
}
