
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-card {
  min-width: 300px;
}
.full-width {
  margin: 0 1.5% 18px 1.5%;
}

.flex-grow{
  flex-grow: 1;
}
.action-button{
  display: flex;
  margin: 10px;
}
.mar{
  margin: 10px;
}
.card-div{
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.text-xs-center{text-align:center!important}
#login-page {
  width: auto;
  margin: auto;
}
